/* lighbulb */

.light {
  background-color: yellow;
}

.lightBulb-container {
  background-color: rgb(80, 77, 77);
}

.light-bulb {
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}
